<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">

    <!--메인이미지부분-->
    <div id="mainImgAll">
        <div class="menuSub">
            <ul>
                <li><a href="#">텐트 · 타프</a></li>
                <li><a href="#">테이블</a></li>
                <li><a href="#">체어 · 야전침대</a></li>
                <li><a href="#">화로대 · BBQ · 주방</a></li>
                <li><a href="#">캐리백 · 수납</a></li>
                <li><a href="#">침낭 · 매트 · 해먹</a></li>
                <li><a href="#">장비 · 단조팩 · 공구</a></li>
                <li><a href="#">캠핑소품 · 조명</a></li>
            </ul>
        </div>
        <div class="mainImg">

        </div>
    </div>


<!--    메인컨텐츠부분-->
<div class="mainContent">

    <input type="hidden" name="searchQuery" th:value="${itemSearchVo.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchVo.searchQuery) }" class="center">
        <p th:text="${itemSearchVo.searchQuery} + '검색 결과'"></p>
    </div>

    <div>
        <th:block th:each="item, status: ${items.getContent() }">
            <div class="itemBox">
                <div>
                    <a th:href="'/item/' +${item.id}">
                        <div class="itemImg">
                            <img th:src="${item.imgUrl}" th:alt="${item.itemNm}">
                        </div>
                        <div>
                            <h4 class="itemName">[[${item.itemNm}]]</h4>
                            <!-- 상세서렴ㅇ <p>[[${item.itemDetail}]]</p>-->
                            <h3 class="itemPrice" sec:authorize="isAnonymous()">회원공개</h3>
                            <h3 class="itemPrice"  sec:authorize="isAuthenticated()">[[${item.price}]]원</h3>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
</div>


<!--  페이징 -->
    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages) } )" >
        <ul class="pagination justify-content-center clearTest">

            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchVo.searchQuery} + '&page=' + ${items.number - 1} }" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                    <!--<p>스타트 체크 [[${start}]]</p>
                    <p>엔드 체크 [[${end}]]</p>-->
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page - 1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchVo.searchQuery} + '&page=' + ${page - 1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchVo.searchQuery} + '&page=' + ${items.number+1} }" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>


</div>

</body>
</html>